@using Component.Base;
@model ChapterDetailView
@{
    var book = Model ?? new ChapterDetailView();
    var novelTitle = book.Novel.Data.Title;
    ViewBag.Title = novelTitle + "-" + ViewBag.SiteSection.Html.SiteName;
}
@section styles{
    @Styles.Render("~/Content/cartoonChapterDetail")
}

@{
    string channelId = ViewBag.ChannelId;
    if (Model.Novel.Success && Model.Chapter.Success)
    {
        Novel novel = Model.Novel.Data;
        Chapter chapter = Model.Chapter.Data;
        <header class="common_detail box clear comic_buying">
            <a class="back" href="javascript:history.go(-1);" title="">
                <img src="~/Content/img/arrow_right.png" alt="">
            </a>
            <p>
                @novel.Title - @chapter.ChapterName
            </p>
            <div class=" fr box">
                <a href="@("/mark/list".GetChannelRouteUrl(channelId))"><img src="~/Content/img/bookcase2.png" alt=""></a>
                <a href="@("/".GetChannelRouteUrl(channelId))"><img src="~/Content/img/house1.png" alt=""></a>
            </div>
        </header>

        <div class="buying box">

            <div class="buy_head clear box bw">
                <img src="~/Content/img/comic.png" alt="">
                <p>本章是VIP专属哦</p>
                <p>请支持作者，支持正版！</p>
            </div>

            <div class="change_status_1">
                <div class="top_up_rechagre box">
                    @if (Model.UserBalance >= novel.Fee)
                    {
                        <a class="top_up_rechagre_btn" href="@ChapterContext.GetUrl("/order/novel", chapter.NovelId, chapter.ChapterCode, channelId: channelId)">购买全本<span>（@novel.Fee @(ViewBag.SiteSection.Html.FeeName)）</span></a>
                    }
                    else
                    {
                        <a class="top_up_rechagre_btn" href="@StringHelper.GetReturnUrl("/order/recharge", channelId: channelId)">购买全本<span>（@novel.Fee @(ViewBag.SiteSection.Html.FeeName)）</span></a>
                    }
                </div>
                <div class="clear buy_charpter_account box">
                    <p class="fl">账户余额：<span>@Model.UserBalance</span>&nbsp;@(ViewBag.SiteSection.Html.FeeName)</p>
                </div>
                <div class="buy_complete_des">
                    <p><span class="box olcircle"></span>后续VIP章节购买不再提醒</p>
                </div>
            </div>
        </div>

        @*<div class="comic_change_charpeter box bw">
                <ol class="clear">
                    <li class="fl"><a class="box @(Model.IsPreChapterCode ? "comictxt" : "txtcolor")" href="@(Model.IsPreChapterCode ? Model.PreChapterUrl : "javascript:void(0);")">@(Model.IsPreChapterCode ? "上一章" : "第一章")</a></li>
                    <li class="fl"><a class="box comictxt" href="/chapter/list?novelId=@(chapter.NovelId)">目录</a></li>
                    <li class="fl"><a class="box @(Model.IsNextChapterCode ? "comictxt" : "txtcolor")" href="@(Model.IsNextChapterCode ? Model.NextChapterUrl : "javascript:void(0);")">@(Model.IsNextChapterCode ? "下一章" : "最后一章")</a></li>
                </ol>
            </div>*@
    }
}
@section scripts{
    <script>
        $(function () {

            $('.top_up_rechagre_btn').click(function () {
                event.stopPropagation();
            })

            $('.buying').click(function (event) {
                event.stopPropagation();
                var that = $(this);
                if (that.attr('data')) {
                    $(this).removeAttr('data');
                    $('header').show();
                    $('.comic_change_charpeter').show();

                } else {
                    $(this).attr('data', 'clicked');
                    $('header').hide();
                    $('.comic_change_charpeter').hide();
                }

            })
        })
    </script>
}